{% extends 'base.html.twig' %}

{% block title %}EasyAdmin Custom{% endblock %}

{% block body %}

    <a href="{{ path('easy_admin_custom_categories') }}">Назад</a>

    <h1>Добавить Category</h1>

    {{ form(form_add_category) }}
    <input type="button" value="Добавить" onclick="" />

    {% block javascripts %}

    {% endblock %}

{% endblock %}