{% extends 'base.html.twig' %}

{% block title %}EasyAdmin Custom{% endblock %}

{% block body %}

    <a href="{{ path('easy_admin_custom') }}">Назад</a>

    <h1>Добавить Articles</h1>

    {{ form(form_add_article) }}

    {% block javascripts %}

    {% endblock %}

{% endblock %}